* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.all {
    width: 1000px;
    margin: 0 auto;

}

.logo {
    float: left;
    margin-top: 11px;
}

.headright {
    float: right;
    margin-right: 30px;
    }

.contact {
    margin-bottom: 40px;
    margin-top: 10px;
    width: 100%;
    float: right;
}

.cont {
    float: right;
    font-size: 12px;
}

.icons {
    float: right;

}

.country {
    float: left;
}

.country img {
    display: block;
    padding-left: 8px;
    padding-right: 8px;
}

.country a {
    font-size: 10px;
    color: #128aa7;
}

/* досюда все header*/
/* отсюда начинается foto*/

.foto {
    height: 237px;
    border-top: solid 1px #128aa7;
    border-bottom: solid 1px #128aa7;
}

/* закончилось foto*/
/*началось menu*/

ul {
    display: block;
    list-style: none;
}

/*ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}*/

.menu {
    margin-top: 1px;
    background: linear-gradient(to bottom, #373737, #303030);
    font-size: 14px;
    height: 30px;
    border-bottom: solid 1px black;
}

ul.mainmenu > li {
    float: left;
    position: relative;

}

ul.mainmenu > li > a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
    padding-right: 39px;
}

ul.mainmenu > li > a:first-child {
    padding-left: 35px;
}

/*ul.mainmenu > li > a:hover {
    background-color: black;
}*/

ul.submenu.travel {
    display: none;
    position: absolute;
    width: 161px;
    top: 31px;
    left: 0;
}

ul.submenu.service {
    display: none;
    position: absolute;
    width: 117px;
    top: 31px;
    left: 0;
}

ul.submenu.partner {
    display: none;
    position: absolute;
    width: 147px;
    top: 31px;
    left: 0;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #303030;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.mainmenu > li:hover > ul.submenu {
    display: block;
}

/* капец меню*/
/* начался контент, три колонки*/