* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.clearfix {
    content: '';
    clear: both;
    display: block;
}

.all {
    width: 1000px;
    margin: 0 auto;
    /*border-right: linear-gradient ;*/
}

body {
    background-image: url(../images/background.jpg);
    background-repeat: repeat-x;
}

header {
    background-color: white;
    box-sizing: border-box;
    height: 176px;
}

.logo {
    float: left;
    margin-top: 11px;
    margin-left: 30px;
}

.headright {
    float: right;
    margin-right: 30px;
    }

.contact {
    margin-bottom: 40px;
    margin-top: 10px;
    width: 100%;
    float: right;
}

.cont {
    float: right;
    font-size: 12px;
    color: #41a1b9;
    font-weight: 700;
}

.icons {
    float: right;
}

/*.icons img {
    transition: opacity linaer .2s;
}*/

.country {
    float: left;
    text-align: center;
}

.country img {
    display: block;
    padding-left: 8px;
    padding-right: 8px;
}

.country a {
    font-size: 10px;
    color: #128aa7;
    font-weight: 700;
}

/*.contry:hover img {
    opacity: .5;
}*/
/* досюда все header*/
/* отсюда начинается foto*/

.foto {
    height: 235px;
    box-sizing: border-box;
}

.foto img {
    position: relative;
    top: -3px;
    border-top: solid 1px #128aa7;
    border-bottom: solid 1px #128aa7;
}

/* закончилось foto*/
/*началось menu*/

ul {
    display: block;
    list-style: none;
}

.menu {
    margin-top: 1px;
    background: linear-gradient(to bottom, #373737, #303030);
    font-size: 14px;
    height: 30px;
    border-bottom: solid 1px black;

    /* Shadow */
    box-shadow: 0px 5px red;
}



ul.mainmenu > li {
    float: left;
    position: relative;
}

ul.mainmenu > li > a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
    /*padding-right: 35px;*/
}

ul.mainmenu > li > a:first-child {
    /*padding-left: 33px;*/
}

ul.submenu.travel {
    display: none;
    position: absolute;
    width: 161px;
    top: 31px;
    left: 0;
}

ul.submenu.service {
    display: none;
    position: absolute;
    width: 117px;
    top: 31px;
    left: 0;
}

ul.submenu.partner {
    display: none;
    position: absolute;
    width: 147px;
    top: 31px;
    left: 0;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #303030;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.mainmenu > li:hover > ul.submenu {
    display: block;
    z-index: 10;
}

span {
    position: absolute;
    top: 15px;
    display: inline-block;}

.caret {
    /*background: red;*/
    /*content: '';*/
    /*width: 0px;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;*/
    border: solid 7px white;
    border-bottom: 0;
    border-left: solid 3px transparent;
    border-right: solid 3px transparent;
    display: inline-block;
    margin-left: 4px;
}


/* конец меню*/
/* начался контент, три колонки*/

.content {
    overflow: hidden;
}

.right_fon {
    float: left;
    width: 100%;
    background: #edeef0;
    overflow: hidden;
    position: relative;
}

.center_fon {
    float: left;
    width: 100%;
    background: white;
    position: relative;
    right: 21%;
}

.left_fon {
    float: left;
    width: 100%;
    background: #edeef0;
    position: relative;
    right: 58%;
}

.column {
    float: left;
    position: relative;
    left: 79%;
    overflow: hidden;
}

.left {
    width: 21%;
}

.center {
    width: 58%;
}

.right {
    width: 21%;
}

.column p {
    padding: 6px;
}

h3 {
    text-align: center;
    margin:4px 0 4px 0;
}

.tank{ /*бордеры*/
    position: absolute;
    border-right: solid 1px #c7cacf;
    top: 0;
    right: 0;
    bottom: 0;
}

.copyright {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}